body {
    font-family: 'Courier New', Courier, monospace
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    .container {
        height: 100px;
        width: 185px;
        background-image: linear-gradient(rgb(199, 199, 199), rgb(98, 98, 98), rgb(136, 136, 136), white, rgb(70, 70, 70), white);
        border-radius: 10px 10px 10px 10px;
        justify-content: center;
        flex-direction: row;
        padding: 5px;



        .timer {
            text-align: center;
            width: 155px;
            padding: 15px;
            background: rgba(215, 114, 255, 0.144);
            border-radius: 10px 10px 10px 10px;
            color: white;
        }

        .buttons {
            width: 55px;
            text-align: center;
            padding: 15px;
            background: #b8e5ff31;
            border-radius: 0px 10px 10px 0px;

        }

        #start{ 
                
            border-radius: 10px 0px 0px 10px;                   
        
        }

        #stop {
            border-radius: 0px 0px 0px 0px
        }
    }
}